# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

dist

# Output of 'npm pack'
*.tgz
# dotenv environment variable files
.env
.env.dev
.env.prod
# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache


# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public
# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Local Netlify folder
.netlify
services/.DS_Store
docs
.DS_Store
build_output